body , #logo-scritta{
    margin: 0;
}

header{
    background-color: dodgerblue;
    height: 180px;
    background-image: url('../img/pattern.png');
}

.logo{
    margin-top: 80px;
    margin-left: 10px;
    width: 300px;
}

main{
    padding: 0 10px;
}

h1{
    margin-bottom: 1px;
}

.sottotitolo{
    color: grey;
    font-size: 18px;
}

.text-dodgerblue{
    color: dodgerblue;
}

.date{
    font-size: 15px;
}

#tim{
    margin-left: 0;
    margin-bottom: 2px;
}

#spiegazione-foto{
    font-size: 12px;
}

.sottolineato{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: dodgerblue;
    color: white;
}

th, td{
    text-align: left;
    padding-right: 50px;
}

#azzurra{
    background-color: aquamarine;
}